  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 60px;
    font-size:22px;
    margin: auto;
  }

  .contact-info {
    display: flex;
    padding: 50px;
    border-radius: 4px;
    margin: 20px;
    background-color: white;
  }

  .message {
    padding: 40px;
    margin: 40px;
    background-color: rgba(0, 128, 0, 0.645);
    border-radius: 3px;
    color: white;
    font-size: 1.2rem;
    max-width: 45%;
  }

  button  {
    margin-left: 100px;
    background: rgb(11, 91, 133);
    border: none;
    width: 150px;
    padding: 1rem;
    color: white;
    margin: 50px 0px 10px 170px;
    cursor: pointer;
    border-radius: 0.2rem;
  }

  input {
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    font-size: 16px;
  }

  label {
    display: block;
    margin-top: 1rem;
  }

  .form-wrapper {
    align-items: center;
  }

  form {
    padding: 2em;
    background: white;
    border-radius: 4px;
}

  .form-error-message {
    display: none;
    color: red;
    font-size: 0.9rem;
    margin-top: 4px;
}

@media (max-width: 1200px) {
  button {
    margin: 50px 0px 10px 140px;
  }
}

@media (max-width: 700px) {
  .contact-info {
    font-size: 15px;
    padding: 25px;
    margin: 10px;
  }

  main {
    font-size: 15px;
  }
}
